.events-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    height: 40rem;
    max-height: 40rem;
    /* margin-bottom: 20px; */
    border: black 1px solid;
    border-radius: 0.5rem;
    border-style: dashed;
  }

  .events-container p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .events-table {
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
    /* overflow: hidden;
    position: relative;
    display: block;
    max-height: 300px;
    overflow-y: auto; */
  }

  .events-table th, 
  .events-table td {
    /* border: 1px solid #ccc; */
    padding: 0.5rem;
    text-align: left;
    /* z-index: 2; */
    /* position: relative; */
    /* min-width: 120px; */
    min-width: 15rem;
  }

  .events-table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .events-table thead th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .events-body-container {
    /* max-height: 300px; */
    max-height: 30rem;
    overflow-y: auto;
    display: block;
    border: black 1px solid;
    border-radius: 0.5rem;
  }

  .empty-events {
    height: 30rem;
    display: flex;
    text-align: center;
    vertical-align: middle;
    /* line-height: 30rem; */
  }

.tooltip-text {
  visibility: hidden;
  overflow-y: auto;
  height: 4rem;
  width: 300px;
  background-color: rgb(54, 86, 60);
  color: #f7e3cb;
  text-align: left;
  padding: 5px 0;
  border-radius: 0.5rem;
  position: absolute;
  bottom: -100%;
  left: 70%;
  margin-left: -150px;
  opacity: 0;
  /* z-index: 1; */
  transition: opacity 0.3s;
  white-space: pre-wrap;
}

td:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
